header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 70px;
  top: 0;
  left: 0;
  background-color: #111;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 20000;
}

.headerBox {
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  width: 99%;
}
.logo {
  width: 120px;
  margin-left: 40px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0 20px;
  font-size: larger;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: gray;
  font-size: 20px;
  transition: 500ms;
  font-size-adjust: 20px;
}


.sunPosition {
  position: relative;
  
  top: 0;
  height: 70px;
  display: flex;
  align-items: center;
 margin-left: 20px;
}
button:hover {
  background-color: gray;
}

.navStyle {
  font-family: Ubuntu;
  color: white;
  text-decoration: none;
  font-size: 1.15em;
}

.iconMen {
  font-size: 3rem;
  color: white;
}

.person {
  font-size: 27px;
  margin-top: 5px;
}
.iconsFlexBox {
  display: flex;
  width: 200px;
  align-items: center;
  height: 70px;
  gap: 0.3rem;

}

.search_box {
  margin-right: -10px;
  color: white;
  margin-top: 1px;
  border: 3px solid #111;
  height: 43px;
  border-radius: 41px;
  display: flex;
  align-items: center;
}

.search_box:hover > .search_txt {
  width: 100px;
  display: flex;
}
.search_box:hover {
  background: white;
}

.search_box:hover > .search_btn {
  color: gray;
  transition: 0.8s;
}

.search_btn {
  display: flex;
  color: white;
  width: 45px;
  background: #111;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_txt {
  border: none;
  outline: none;
  background: none;
  box-shadow: none;
  margin-top: 20px;
  align-items: center;
  padding: 0;
  transition: 0.8s;
  display: flex;
  color: gray;

  justify-content: center;
  font-size: 16px;
  line-height: 45px;
  width: 0px;
  margin-left: 10px;
}

.search {
  font-size: 28px;
}
#call {
  font-size: 27px;
  margin-top: 8px;
}

.hoverIcons:hover{
  color: grey;
  transition: 0.8s;
}


.cartIcon {
  font-size: 2rem;
  display: flex;
  height: 70px;
  color: white;
  align-items: center;
}



.heartIcon {
  font-size: 2rem;
  display: flex;
  height: 70px;
  color: white;
  align-items: center;
}

