




/*men*/

.popularText{
text-align: center;
}
.navStyle1 {
  font-family: Ubuntu;
  color: black;
  text-decoration: none;
}



.iconColor {
  color: white;
}


.iconsFlexProfile{
margin-right: 60px;

}

.flexBox3 {
  display: flex;
  flex-direction: row;
  align-items: center;
gap: 5rem;
width: 100%;
  flex-flow: row wrap;
}
.textBox {
  border: 4px solid black;

}

.searches {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 4px solid black;
  width: 20%;
  height: 30px;
  border-radius: 50px;
  margin-top: 100px;
}


.caption {
  padding-left: 30px;
}

.img {
  padding: 10px;
  cursor: pointer;
}

.imgdiv {
  display: flex;
  justify-content: end;
  height: 20px;
  width: 20px;
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  background-color: #ffffff;
}

.iconsFlex {
  display: flex;
  width: 80px;
  justify-content: space-around;
  padding-top: 18px;
  padding-bottom: 21px;
}












.likeProduct {
  color: black;
  position: relative;
  float: right;
}
a {
  z-index: 1;
}



/*/////////////////////////////////////*/


#liked {
  font-size: 3em;
}

#liked:hover {
  color: gray;
}

.popular {
  padding-top: 50px;
  text-align: center;
}

#iconsMen:hover {
  color: grey;
  transition: 0.5s;
}



.person1 {
  font-size: 25px;
  padding-top: 10px;
}





.buttonsMenu {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  height: 50px;
  align-items: center;
  justify-content: space-around;
}



#iconsColor {
  color: black;
}

.buttonsMenu:hover > #hiddenOptions {
  opacity: 1;
  transition: 1s;
  visibility: 1;
}
#hiddenOptions {
  opacity: 0;
  visibility: 0;
  position: absolute;
  font-size: 20px;
}

#hoverDrop:hover + #hiddenOptions {
  visibility: visible;
  opacity: 1;
}


.iconsInDrop {
  height: 40px;
  padding-left: -10px;
}





#cart:hover {
  color: gray;
  transition: 0.8s;
}

#heart {
  margin-top: 2px;
  size: 27px;
}

#heart:hover {
  color: gray;
  transition: 0.8s;
}

.containerSlide {
  padding-top: 30px;
  width: 60%;
  padding-left: 40px;
  border-radius: 20px;
  height: 800px;
  border: 2px solid black;
}

.something {
  width: 30%;
  border-radius: 20px;
  border: 2px solid black;
  height: 800px;
}

.something1 {
  width: 30%;
  border: 2px solid black;
  height: 800px;
}
.placer {
  padding-top: 100px;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
}

.placer1 {
  padding-top: 50px;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
}

.horizont {
  border: 2px solid black;
  height: 200px;
  margin-top: 40px;
  width: 92%;
  border-radius: 20px;
  margin-left: 4%;
}

.imgProductPage {
  margin-top: 200px;
}

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*///////////////////////////////////////////////*/

.nameCenter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.iconsPriceSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 50px;
  gap: 0.7em;
}

.bordPriceSize {
  display: flex;
  align-items: center;
  width: 47%;
  height: 70px;
  justify-content: center;
  border-radius: 50px;
  border: 2px solid black;
}

.sixItems {
  display: flex;
  flex-direction: row;
  padding-top: 40px;

  gap: 0.7em;

  justify-content: space-evenly;
  flex-wrap: wrap;
}

.borderSix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 70px;
  border-radius: 50px;

  border: 2px solid black;
}

#tableAppear {

  width: 30%;
  height: 70px;

  border-radius: 50px;
}

#divTable{
  display: none;

}

#tableProd {
  border: 1px solid black;
  width: 96%;
  margin: 10px;
  height: 40%;

}

#filter {
  padding-left: 10px;
}

svg {
  cursor: pointer;
}

/* CARUSELKA */

.pushFooter{
  min-height: 100vh;
  margin-bottom: 100px;
}