@tailwind base;
@tailwind components;
@tailwind utilities;

.containerSlide {

}

.paddingContent{
padding: 10px;
}

.generalFont{
  font-family: 'Catamaran', sans-serif;
  font-size: 30px;
}

.detailsFont{
  font-family: 'Catamaran', serif;
  font-size: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fontLongText{
  font-family: 'Sarabun', sans-serif;
  color: rgb(101, 101, 101);
}

.placeBetween{
  margin-top: 100px;
}
.bigConatinersDes{
  width: 60%;

  border-radius: 20px;
  height: 580px;
  border: 4px solid black;
}

.shoesProdPage {
  width:30em;
  height: 100%;
}

.productInfo {
  width: 30%;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid black;
  height: 580px;
}

.something1 {
  width: 30%;
  border: 4px solid black;
  height: 580px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
 
}

.prodPhotoOwnPage {
  height: 1000px;
  width: 800px;
  padding-bottom: 200px;
}
.placer {
  padding-top: 150px;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
}

.placer1 {
  padding-top: 50px;
  display: flex;
  gap: 2em;
  justify-content: center;
  flex-direction: row;
}


.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*///////////////////////////////////////////////*/

.nameCenter {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-left: 10px;
}

.iconsPriceSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  padding-top: 5px;
  gap: 0.7em;
}

.bordPriceSize {
  display: flex;
  align-items: center;
  width: 30%;
  height: 45px;
font-size: 30px;
font-style:oblique;
  justify-content: center;
  border-radius: 50px;
  border: 4px solid black;
}

.sixItems {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
padding-bottom: 35px;
  gap: 0.7em;

  justify-content: space-evenly;
  flex-wrap: wrap;
}
.borderSix:hover {
  transform: scale(1.2);
}
.borderSix {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 40px;
  border-radius: 50px;
font-size: 24px;
  border: 3px solid black;
  transition: transform 0.3s;
}

table {
  width: 97%;
  margin-left: 1.5%;
  margin-top: 10px;
  border-radius: 50px;
  overflow: hidden;
}

.data {
  border: 1px solid black;
  display: flex;
}
th,
td {
  padding: 1em;
  background: white;
}

.tableBorder {
  border: 1px solid black;
}

#filter {
  padding-left: 20px;
}

svg {
  cursor: pointer;
}

.flexboxButtons {
  height: 150px;
  width: 99%;
  padding-top: 20px;
  gap: 0.7rem;
  display: flex;
  align-items: center;
  text-align: center; /* Center the text within the button */
  flex-direction: column;
  justify-content: space-between;
}


.cartButton {
  height: 50px;
  width: 25vw;
  
 font-size:29px ;
  border: 4px solid black;
  border-radius: 50px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.cartButton:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: rgb(212, 211, 211);
}
.likeButton {
  height: 60px;
  width: 400px;
  border: 4px solid black;
  border-radius: 120px;
  transition: transform 0.3s;
  padding-top: 100px;
 
}

.aboutProductProperties1 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 110px;
  justify-content: left;
  z-index: 1000;
}
.aboutProductProperties2 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 110px;
  justify-content: left;
}
.aboutProductProperties3 {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 110px;
  justify-content: left;
  z-index: 1000;
}
.listOfProps {
  display: flex;
  flex-direction: row;
  font-size: 25px;
}
#bigTextAbout{
  font-size: 24px
}
 
.flexBoxProducts{
  width: 100%;
  display: flex;

  justify-content: center;
}
.flexBox1 {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 3em;
  width: 1600px;
margin-left: 10rem;
  flex-flow: row wrap;
}

.pushFooterProducts{
  min-height: 100vh;
  margin-bottom: 100px;
}

.underInfo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px;
  font-family: 'Catamaran', sans-serif;
  font-size: 50px;
}

.addedToCart{
  height: 200px;
  position: absolute;
  margin-left:50%;
  z-index: 10000;
  width: 200px;
  background-color: black;
  margin-top: 200px;
}