.cartProductsDiv{


width: 100%;
display: flex;

justify-content: center;
}
#productBox{
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 100px;
  width: 100%;
  height: auto;
  display: flex;
  gap: 3rem;
  flex-direction: row;
justify-content: center;


}
.cartTextDiv{
margin-top: 100px;
color: #111;
display: grid;
grid-template-columns: repeat(11, 1fr);

text-align: center;
font-family: 'Ubuntu';
font-size: 55px;
}

h1{
  grid-column: 6/7;
}
.pushFooter{
  min-height: 100vh;
  margin-bottom: 100px;
  
}

.clearCartButton{
  margin-top: 15px;
  border: #111 3px solid;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  width: 150px;
height: 60px;
  grid-column: 10/11;
  transition: 1.2s;
}

.clearCartButton:hover{
  background-color: rgba(255, 0, 0, 0.626);
  }

  .totalDiv{
    text-align: center;
    margin-top: 25px;
    font-size: 30px;
    font-family: 'Fjalla one';
    color: gray;
  }


  .mapButton{
    margin-left: 15%;
    margin-top: 5px;
 display: flex;
 width: 30%;
 justify-content: center;
 font-size: 25px;
 color: white;
 background-color: #111;
 border-radius: 20px;
 transition: 0.5s;
  }

  .mapButton:hover{
    background-color: gray;
  }