.filterRow {
  display: flex;
  width: 100%;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
height: 200px;
}



input {
  width: 70%;

  height: 20px;
  background-color: #fff;
  border: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  outline: none;
  margin-bottom: 20px;
  padding: 20px 10px;
  border-radius: 5px;
}



/*/////////////////////////////////////*/





.liked {
  font-size: 3em;
  z-index: 0;
}

.likedWhileDropsActive{
  pointer-events: none;
}

#liked:hover {
  color: gray;
}
.colorDiv{

}
.popularText {
  padding-top: 50px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 40px;

}

#iconsMen:hover {
  color: grey;
  transition: 0.5s;
}

.person1 {
  font-size: 25px;
  padding-top: 10px;
}



#iconsColor {
  color: black;
}

.container1 {
  display: flex;

  margin: 0;
  padding-top: 10rem;
  flex-direction: column;
  align-items: center;

  justify-content: space-between;
}


a {
  z-index: 1;
}

.dropdown {
  position: relative;
  margin-top: 100px;
  width: 25%;
  height: 60px;
  background: white;

  /* border: 4px solid black; */
}

.linkButton{
  width: 100%;
display: flex;
justify-content: center;
}
.buttonsInDrop {
  font-family: "Ubuntu", sans-serif;

  display: flex;
  transition: 1.2s;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
width: 100%;
  background-color: black;
  border: none;
  min-width: 75%;
  height: 40px;
  overflow: hidden;
  color: #fff;
}
.buttonsInDrop1:hover{
  background-color: rgb(51, 51, 51);
}
.iconsInDrop {
  height: 40px;
  padding-left: -10px;
}




.img {
  padding: 10px;
  cursor: pointer;
}

.imgdiv {
  display: flex;
  justify-content: end;
  height: 20px;
  width: 20px;
  padding-left: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  background-color: #ffffff;
}
/* TEST DROPDOWN*/

.filter {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  border: 4px solid black;
  width: 501%;
  border-radius: 50px;
  height: 4.8rem;
  padding: 20px 10px;
  margin-top: 50px;
  transition: 0.8s;
}

.filter:hover {
  background-color: #d8d8d8;
}

.menu-container {
  width: 20%;
  height: 60px;
  padding-top: 50px;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}

.dropdown-menu.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease;
}

.dropBox {
  height: auto;
  margin-top: 10px;
  width: 100%;
  opacity: 0.8;
  justify-content: start;
z-index: 500;
  background-color: gray;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
}

.menu-trigger {
  width: 20%;
}
.menu-trigger1 {
  width: 20%;
}
.buttonsInDrop {
  font-family: "Ubuntu", sans-serif;

  display: flex;
  transition: 0.5s;
  justify-content: center;
  align-items: center;
  border-radius: 50px;

  background-color: black;
  border: none;
  width: 80%;
  height: 40px;
  overflow: hidden;
  color: #fff;
}

.removeFiltersDiv{
  display: flex;
  justify-content: center;
  padding-top: 5px;
}
.removeFiltersButton{
  display: flex;
  transition: 1.2s;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background-color: black;
  border: none;
  width: 80%;
  height: 40px;
  overflow: hidden;
  color: #fff;
}
.removeFiltersButton:hover{
background-color: rgba(255, 0, 0, 0.626);
}

.buttonLine {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.buttonLine1 {
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}


.hiddenOptions {
  opacity: 0;
  visibility: 0;
  position: absolute;
  cursor: pointer;
  z-index: 100;
  font-size: 20px;
  transition: 0.7s ease;
}




.dropdown-menu1.active {
  opacity: 1;
  visibility: 1;
  transform: translateY(0);
  transition: 0.8s ease;
}

.dropdown-menu1.inactive {
  opacity: 0;
  visibility: hidden;
  transition: 0.8s ease;
}




@media screen and (max-width: 881px) {
  .filterRow{
    height: 160px;
    padding-right: 15%;
    justify-content: space-around;
  }
  .filter{
    width: 950%;
  }
  .dropBox{
    width: 200%;
  }
.buttonsInDrop{
  font-size: 14px;
}
}

.buttonsInDrop:hover{
background-color: rgb(63, 63, 63);
transform: scale(0.97);
transition: 0.5s;
}