.flexBoxPeople {
  display: flex;

  height: 44.5vw;
  overflow: hidden;
  padding-top: 74px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  width: 100%;
  z-index: 1000;
}

.captionsDiv {
  font-size: 2rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

p {
  font-size: larger;
  font-family: "Raleway", sans-serif;
}

.aboutUs {
  color: black;
  font-family: "Fjalla one";
  font-size: 30px;
  padding-bottom: 10px;
}
.aboutUsText {
  font-size: 20px;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  min-height: 100vh;
  margin-bottom: 100px;
}
.container_aboutUs {
  display: flex;
  flex-direction: column;
  padding: 100px;
  font-size: larger;

  color: rgb(0, 0, 0);
  background-color: white;
}

.hoverImgMain {
  transition: 0.4s;
}
.hoverImgMain:hover {
  transform: scale(1.03);
}

footer,
.push {
  display: grid;
  z-index: 10000;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(44, 50px);
  height: 200px;
  background-color: #111;

  font-size: smaller;
  width: 100%;

  color: white;
  font-family: Ubuntu;

  color: black;

  align-items: end;
}

.followText {
  font-size: 25px;
  padding-right: 20px;
  color: black;
}

#socials {
  padding-right: 10px;
  font-size: 2.3rem;
  color: white;

  background-color: #111;
}

#socials:hover {
  color: gray;
}

.locateIcons {
  grid-column: 20/20;
  grid-row: 4/5;
  display: flex;
  gap: 1em;
  margin-bottom: 10px;
}

.aboutCompanyDiv {
  padding-left: 10px;
  width: 10rem;
  height: 200px;
  grid-column: 2/4;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.supportDiv {
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: start;
  grid-column: 5/7;
  grid-row: 1/5;
}

.footerTitle {
  text-transform: uppercase;
  font-family: "Ubuntu" sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerPoints {
  font-family: "Ubuntu" sans-serif;
  color: rgb(200, 203, 206);
  font-weight: lighter;
  font-size: 19px;
}
.footerPoints:hover {
  color: gray;
}

@media screen and (max-width: 881px) {
  .flexBoxPeople {
    display: none;
  }
  .captionsDiv {
    display: none;
  }
  .searchMobileDiv {
    display: block;
  }
  .container_aboutUs {
    display: none;
  }
  .newProductsDiv {
    display: block;
  }
  .collectionsDiv {
    display: none;
  }

  .collectionsText {
    display: none;
  }

  .imageNewColls {
    display: none;
  }

  .productsDivDesk {
    display: none;
  }
}
@media screen and (min-width: 881px) {
  .searchMobile {
    position: absolute;
    display: none;
  }
  .someContentMobile {
    position: absolute;
    display: none;
  }
  .textTitle h3 {
    position: absolute;
    display: none;
  }
  .imageTitle {
    position: absolute;
    display: none;
  }

  .searchMobileDiv .searchMobileIcon {
    position: absolute;
    display: none;
  }

  .productsMobile {
    position: absolute;
    display: none;
  }

  .pushFooter.newProductsDiv {
    position: absolute;
    display: none;
  }
  .seeMoreDiv {
    position: absolute;
    display: none;
  }
  .seeAllBtn {
    display: none;
  }
  .collectionsDiv {
    border-top: 1px rgba(190, 184, 184, 0.611) solid;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: 500px;
    padding: 40px 0px;
    margin-top: 150px;
    margin-bottom: 50px;
    background-color: white;
  }

  .collectionsText {
    font-size: 40px;
    font-family: "Fjalla one";
    color: #111;
    text-transform: uppercase;
  }

  .imageNewColls {
    height: 100%;
  }

  .productsDivDesk {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }

  .boxAligner {
    width: 1600px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 9%;
    gap: 3em;
  }
}
.searchMobileDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}
.searchMobile {
  text-align: center;
  font-family: "Ubuntu";

  border-radius: 50px;
  width: 50%;
  height: 55px;
  margin-top: 150px;
  margin-bottom: 80px;
}

.someContentMobile {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 100%;
  margin-bottom: 80px;
}

.textTitle {
  background-color: rgb(248, 246, 246);
  border: none;
  outline: none;
  color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 10px;
  font-family: "Fjalla one";
  font-size: 30px;
}
.searchMobileIcon {
  color: #111;
  font-size: 2rem;
  padding-top: 175px;
  height: 55px;
  display: flex;
  align-items: center;
  position: absolute;
  margin-left: 40%;
}

.newProductsDiv {
  width: 100%;
  height: auto;
  justify-content: center;

  display: flex;
  gap: 0.8em;

  margin-bottom: 10px;
  flex-wrap: wrap;
}

.productsMobile {
  width: 48%;
  height: 10px;
}

.pushFooter {
  min-height: 100vh;
}

.seeMoreDiv {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 95px;
  margin-top: 60px;
}

.seeAllBtn {
  color: #111;
  width: 40%;
  font-family: "Ubuntu";
  transition: 0.3s ease;
  font-size: 40px;
  background-color: white;
}
/* desk */
