
.flexBoxPeople {
  display: flex;
  padding-top: 70px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
flex-wrap:nowrap;
width: 100%;
  z-index: 1000;
}


.captions {
  text-align: center;
}

.photo_size {
  width: 55vh;
height: 70vh;
}

p {
  font-size: larger;
  font-family: "Raleway", sans-serif;
}

.aboutUs {
  color: black;
  font-family: "Fjalla one";
  font-size: 30px;
  padding-bottom: 10px;
  
}
.aboutUsText {
  font-size: 20px;
  font-family: "Signika", sans-serif;
  font-weight: lighter;
  min-height: 100vh;
  margin-bottom: 100px;
}
.container_aboutUs {
  display: flex;
  flex-direction: column;
padding: 100px;
  font-size: larger;
  
  color: rgb(0, 0, 0);
  background-color: white;
}

footer,
.push {
  display: grid;
z-index: 10000;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(44, 50px);
  height: 200px;
  background-color: #111;


  font-size: smaller;
  width: 100%;

  color: white;
  font-family: Ubuntu;

  color: black;

  align-items: end;
}

.followText {
  font-size: 25px;
  padding-right: 20px;
  color: black;
}

#socials {
  padding-right: 10px;
  font-size: 2.3rem;
  color: white;

  background-color: #111;
}

#socials:hover {
  color: gray;
}

.locateIcons{
grid-column: 20/20;
  grid-row: 4/5;
  display: flex;
  gap: 1em;
  margin-bottom: 10px;
}

.aboutCompanyDiv{
  padding-left: 10px;
width: 10rem;
height: 200px;
  grid-column: 2/4;
  grid-row: 1/5;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.supportDiv{
height: 200px;
display: flex;
flex-direction: column;
align-items: start;
  grid-column: 5/7;
  grid-row: 1/5;
}

.footerTitle{
  text-transform: uppercase;
  font-family: 'Ubuntu' sans-serif;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerPoints{
  font-family: 'Ubuntu' sans-serif;
  color: rgb(200, 203, 206);
  font-weight: lighter;
  font-size: 19px;

}
.footerPoints:hover{
  color: gray;
}