.pushFooter {
  min-height: 100vh;
  margin-bottom: 100px;
}


.clothes {
  

  margin-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
width: 700px;
}
.flexBoxProductsMen {
  width: 100%;
  display: flex;

  justify-content: center;
}

.flexBox1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3em;
  width: 1600px;

  flex-flow: row wrap;
}

.imageFrame {
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.142);
  border: 2.3px solid rgba(0, 0, 0, 0.236);
  width: 20%;
}

.likeProduct {
  color: black;
  position: relative;
  float: right;
}

.NamePrice {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 60px;
  justify-content: space-between;
max-height: 75px;
}

.caption {
  display: flex;
  width: 70%;

  padding-left: 10px;
  font-size: 17px;
  text-transform: uppercase; 
  display: flex;
  flex-direction: row;

}
.removeFilters{
  display: flex;
  flex-direction: row;
  justify-content: center;
}


.price {

margin-top: 29px;
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  font-size: 25px;
  color: #111;
}

.imageFrameMobile {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.142);
  border: 2.3px solid rgba(0, 0, 0, 0.236);
}


.newProductsDiv{
  width: 100%;
  height: auto;


padding-left: 6px;
display: flex;
gap: 0.8em;
justify-content: start;
margin-bottom: 10px;
flex-wrap: wrap;

}

@media screen and (min-width: 881px) {
.newProductsDiv{
  display: none;
  position: absolute;
}
.caption{
  font-size: 25px;
}
.price{
  font-size: 27px;
}
.mobileProductsDiv{
  display: none;
  position: absolute;
}
}



@media screen and (max-width: 881px) {

.flexBoxProductsMen{
  display: none;
}
.caption{
  font-size: 19px;
}
.price{
  font-size: 23px;
}
    .productsMobile{
      width: 48%;
    }

  }